:root {
    --main-color: #f9ec31;
}

body {
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

#Gallary {
    position: relative;
    z-index: 2;
}

#Gallary .special .item {
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 10px;
    position: relative;
}

#Gallary .special .item img {
    transform: scale(1);
    transition-duration: 0.5s;
}

#Gallary .special .item:hover img {
    transform: scale(1.2);
}

#Gallary .special .item .layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-duration: 0.5s;
}

#Gallary .special .item .layout:hover {
    opacity: 1;
}

#Gallary .special .item .layout i {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transform: rotate(0);
    transition-duration: 0.5s;
}

#Gallary .special .item .layout i:hover {
    transform: rotate(180deg);
    color: var(--main-color);
}

/* *popup for image */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    transition-duration: 0.5s;
}

.popup.active {
    opacity: 1;
    z-index: 3;
}

.popup .box {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    overflow: hidden;
    transform: rotate(0);
}

.popup .box.invalid_Key {
    animation-name: invalidKey;
    animation-duration: 0.3s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.popup .box.current_Key {
    animation-name: currentKey;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.popup .box i {
    position: absolute;
}

.popup .box i,
.popup .box .indicator li {
    width: 32px;
    height: 32px;
    font-size: 16px;
    color: var(--main-color);
    cursor: pointer;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.popup .box .exit {
    top: 20px;
    right: 20px;
}

.popup .box .next {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.popup .box .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.popup .box .indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.popup .box .indicator li {
    transition-duration: 0.2s;
}

.popup .box .indicator li.active,
.popup .box .indicator li:hover {
    background: #fff;
    color: var(--main-color);
    box-shadow: 0px 0 1px 4px var(--main-color);
}