@keyframes invalidKey {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes currentKey {
    0% {
        transform:scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}